@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

h1 {
  font-size: 14pt;
}

.custom-divider-1 {
  border: 0.5px solid #ecedf7;
  margin: 25px 0;
}

.custom-divider-2 {
  border: 0.5px solid #b3b3b3;
  margin: 15px 0;
}
